workflows/daily_idea_generator.json
{
  "name": "daily_idea_generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -48
      ],
      "id": "f9ab2527-135d-4260-83f8-a457d8b22dee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jesteś Wizjonerem Technologicznym i Inżynierem Interdyscyplinarnym. Twoim zadaniem jest wygenerowanie 3 unikalnych pomysłów na projekty, które w pełni wykorzystują potencjał mojego warsztatu.\n\nDzisiaj jest: {{ $json.timestamp }}\n\nMÓJ WARSZTAT (Dostępne klocki):\n- Software: Python (FastAPI, scripting, AI), n8n (workflow automation), AI Agents, KMP (Kotlin Multiplatform), Android API.\n- Hardware: Raspberry Pi 5, Drukarka 3D (PLA/PETG/TPU), Android Phone, PC.\n- Technologie/Trendy: Local LLMs (Ollama), Edge AI, Vision, Multi-agent systems.\n\nZADANIE:\nZaproponuj dokładnie 3 projekty, zachowując poniższą strukturę czasową:\n1. Projekt lekki (~2-3h pracy) – skupiony na szybkim wdrożeniu i natychmiastowej użyteczności.\n2. Projekt lekki (~2-3h pracy) – inny niż pierwszy, może dotyczyć innej gałęzi warsztatu.\n3. Projekt duży (wielodniowy) – \"Flagowiec\", który wymaga głębokiego projektowania, łączenia wielu technologii (np. hardware + python + mobile + n8n) i iteracji.\n\nNie ograniczaj się typem (software/hardware). Sam zdecyduj, co dzisiaj jest najbardziej interesujące, innowacyjne lub po prostu przydatne w kontekście aktualnych trendów IT.\n\nWYTYCZNE DLA PÓL JSON:\n- title: Chwytliwa, techniczna nazwa projektu.\n- description: Szczegółowy opis koncepcji. Wymień konkretne biblioteki Pythona, komponenty n8n, sensory RPi czy materiały do druku 3D.\n- first_step: Konkretny, techniczny punkt startowy (np. komenda instalacyjna, link do dokumentacji lub nazwa modułu do CAD).\n- complexity: \"light\" lub \"deep_dive\"\n\nODPOWIEDZ WYŁĄCZNIE W FORMACIE JSON. Odpowiedź musi być pojedynczym obiektem posiadającym klucz \"projects\", w którym znajdzie się tablica 3 pomysłów.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -48
      ],
      "id": "2278f038-371c-4c17-b55e-73a9641667cc",
      "name": "Idea Generator"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.TRIP_IDEAS_EMAIL_TO }}",
        "subject": "=💡 [Tech Forge] 3 Nowe Pomysły na {{ $now.format('DD.MM') }}",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; background-color: #f4f7f9; padding: 40px 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n    \n    <div style=\"background: linear-gradient(135deg, #2c3e50 0%, #000000 100%); color: #ffffff; padding: 30px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 24px; letter-spacing: 1px;\">🚀 DAILY TECH FORGE</h1>\n      <p style=\"margin: 5px 0 0; opacity: 0.7; font-size: 14px;\">{{ $now.format('DD.MM.YYYY') }} | Workshop Ready</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      \n      {{ $json.output.projects.map(project => `\n      <div style=\"margin-bottom: 40px; border-left: 5px solid ${project.complexity === 'deep_dive' ? '#e74c3c' : '#2ecc71'}; padding-left: 20px;\">\n        \n        <div style=\"display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 10px; font-weight: bold; text-transform: uppercase; background-color: ${project.complexity === 'deep_dive' ? '#fdf1f0' : '#eafaf1'}; color: ${project.complexity === 'deep_dive' ? '#e74c3c' : '#2ecc71'}; margin-bottom: 10px;\">\n          ${project.complexity === 'deep_dive' ? '🚩 Deep Dive (Multi-day)' : '⚡ Light Project (2-3h)'}\n        </div>\n\n        <h2 style=\"margin: 0 0 10px 0; color: #2c3e50; font-size: 20px;\">${project.title}</h2>\n        <p style=\"color: #546e7a; line-height: 1.6; margin: 0 0 15px 0; font-size: 15px;\">\n          ${project.description}\n        </p>\n\n        <div style=\"background-color: #f8f9fa; border-radius: 8px; padding: 15px; border: 1px dashed #cfd8dc;\">\n          <strong style=\"color: #263238; font-size: 13px; display: block; margin-bottom: 5px;\">NEXT STEP:</strong>\n          <code style=\"color: #00796b; font-family: 'Courier New', monospace; font-size: 14px; font-weight: bold;\">\n            ${project.first_step}\n          </code>\n        </div>\n      </div>\n      `).join('') }}\n\n    </div>\n\n    <div style=\"background-color: #fcfcfc; padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n      <p style=\"margin: 0; font-size: 12px; color: #90a4ae;\">\n        Stack: Python • n8n • RPi 5 • KMP • 3D Printing<br>\n        Keep building. Stay hungry.\n      </p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        352,
        -48
      ],
      "id": "4994e115-a207-4bed-a962-971d1507df91",
      "name": "Send Ideas",
      "webhookId": "52d2fe12-e9ed-4f50-a390-5f199dea634f",
      "credentials": {
        "smtp": {
          "id": "e2B7B8MpOj8P6lyN",
          "name": "N8N bot Gmail"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"projects\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"first_step\": { \"type\": \"string\" },\n          \"complexity\": { \"type\": \"string\", \"enum\": [\"light\", \"deep_dive\"] }\n        },\n        \"required\": [\"title\", \"description\", \"first_step\", \"complexity\"]\n      }\n    }\n  },\n  \"required\": [\"projects\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        160
      ],
      "id": "9365d2aa-b040-4de1-9ba1-74e051bfc634",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -64,
        160
      ],
      "id": "8b5b800a-efc2-4120-a6a2-440f2f0aeb0f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i2N3rPShmZjeQ3Wb",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generator": {
      "main": [
        [
          {
            "node": "Send Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "49f7f11e-e0ea-4940-b432-10b6417c1b91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97481b629537fec29dc17e37e9860b073024f9e9a612443256860c22d1358b72"
  },
  "id": "4YQAEzmuixXhdSTO",
  "tags": [
    {
      "updatedAt": "2026-03-10T13:28:28.779Z",
      "createdAt": "2026-03-10T13:28:28.779Z",
      "id": "Klwdshp6NtGybcZK",
      "name": "mail"
    },
    {
      "updatedAt": "2026-03-13T07:11:33.324Z",
      "createdAt": "2026-03-13T07:11:33.324Z",
      "id": "Lf332skRzhusw67i",
      "name": "ideas"
    },
    {
      "updatedAt": "2026-03-10T13:28:14.729Z",
      "createdAt": "2026-03-10T13:28:14.729Z",
      "id": "Q1I4mcXffkxC0as2",
      "name": "AI"
    }
  ]
}