workflows/daily_shares_reporter.json
{
  "name": "daily_shares_reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        1248
      ],
      "id": "38a14daa-dd65-4285-b6c2-b5608acc811e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHARES_GOOGLE_SHEET_LINK }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "wallet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fy23XjxEfO7FlFX-hOE8gJJ9OHC3ZbZY2nVqYFh0TLU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        1248
      ],
      "id": "5fbf3689-2ad8-4c11-be88-f9016b5913a6",
      "name": "Get shares from wallet",
      "credentials": {
        "googleApi": {
          "id": "QGnEXa0ciTV81L8y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.Symbol }}?range=1y&interval=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        1248
      ],
      "id": "29ab1123-af62-4d7b-82fc-32340f18ec2b",
      "name": "Query to Yahoo"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "results = []\n\nfor item in _items:\n    try:\n        data = item['json']\n        if isinstance(data, list):\n            data = data[0]\n\n        result_data = data['chart']['result'][0]\n        symbol = result_data['meta']['symbol']\n        \n        raw_prices = result_data['indicators']['quote'][0]['close']\n        \n        clean_prices = [price for price in raw_prices if price is not None]\n        \n        if not clean_prices:\n            results.append({\"json\": {\"Symbol\": symbol, \"Error\": \"Brak danych cenowych\"}})\n            continue\n\n        current = clean_prices[-1]\n        \n        t1d = ((current - clean_prices[-2]) / clean_prices[-2] * 100) if len(clean_prices) >= 2 and clean_prices[-2] != 0 else 0\n        t7d = ((current - clean_prices[-6]) / clean_prices[-6] * 100) if len(clean_prices) >= 6 and clean_prices[-6] != 0 else 0\n        t30d = ((current - clean_prices[-22]) / clean_prices[-22] * 100) if len(clean_prices) >= 22 and clean_prices[-22] != 0 else 0\n        t1y = ((current - clean_prices[0]) / clean_prices[0] * 100) if len(clean_prices) >= 1 and clean_prices[0] != 0 else 0\n\n        results.append({\n            \"json\": {\n                \"Symbol\": symbol,\n                \"Current_Price\": round(current, 2),\n                \"Trend_1D [%]\": round(t1d, 2),\n                \"Trend_7D [%]\": round(t7d, 2),\n                \"Trend_30D [%]\": round(t30d, 2),\n                \"Trend_1Y [%]\": round(t1y, 2)\n            }\n        })\n        \n    except Exception as e:\n        results.append({\"json\": {\"Error\": str(e), \"Context\": \"Błąd parsowania danych Yahoo\"}})\n\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        1248
      ],
      "id": "49bf7dad-3f2d-4234-bf67-24323c88dbc3",
      "name": "Count data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ Math.abs($json[\"Trend_1D [%]\"]) }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "38dc4220-6b0a-42a2-b17d-8952dc6cdccd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fast change -> suspend"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "23e577da-be24-4c54-bbdc-1356903db848",
                    "leftValue": "={{ Math.abs($json[\"Trend_1D [%]\"]) }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Safe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        288,
        1248
      ],
      "id": "23f9c78d-5ab8-497c-9c2b-45dff68cc90b",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Get prompt').item.json.data }}",
              "role": "model"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        1360
      ],
      "id": "482fec7f-2f63-473a-a1a1-0674083f2a96",
      "name": "Company info",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "3Xh2sb8Ox31d9Hk4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Get long prompt').item.json.data }}",
              "role": "model"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        1104
      ],
      "id": "69d0e54b-7a2c-4203-a7a2-be8774b29f76",
      "name": "Search info about fast change",
      "credentials": {
        "googlePalmApi": {
          "id": "3Xh2sb8Ox31d9Hk4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  let rawText = \"\";\n  if (item.json.text) {\n    rawText = item.json.text;\n  } else if (item.json.content && item.json.content.parts && item.json.content.parts[0].text) {\n    rawText = item.json.content.parts[0].text;\n  }\n\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  \n  let importance = 0;\n  let description = \"Error: JSON not found\";\n  let symbol = \"UNKNOWN\";\n\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch[0]);\n      importance = parsed.importance ?? 0;\n      description = parsed.description ?? \"No description\";\n      symbol = parsed.Symbol ?? \"UNKNOWN\";\n    } catch (e) {\n      description = \"Parse Error: \" + e.message;\n    }\n  }\n\n  return {\n    json: {\n      Symbol: symbol,\n      importance,\n      description\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1232
      ],
      "id": "7090f581-1cfe-4dbb-b826-184e1a512c5c",
      "name": "Parse respond"
    },
    {
      "parameters": {
        "jsCode": "// Get the full list of AI responses from the previous node\nconst aiResults = $input.all();\n\n// Get the full list of stock data (make sure the node name is correct!)\nconst stockDataList = $('Count data').all();\n\nconst now = new Date();\nconst formattedDate = now.toISOString().replace('T', ' ').substring(0, 16);\n\nlet finalResults = [];\n\n// Iterate through each AI result\nfor (const aiItem of aiResults) {\n  const aiSymbol = aiItem.json.Symbol;\n  \n  // SEARCH: Find the object in stock data with the matching symbol\n  const matchingStock = stockDataList.find(stock => stock.json.Symbol === aiSymbol);\n\n  // If a match is found, create the final object\n  if (matchingStock) {\n    finalResults.push({\n      json: {\n        \"Date\": formattedDate,\n        \"Symbol\": aiSymbol,\n        \"Shares price\": matchingStock.json[\"Current_Price\"],\n        \"Level of importance [0-10]\": aiItem.json.importance,\n        \"Trend 1D [%]\": matchingStock.json[\"Trend_1D [%]\"],\n        \"Trend 7D [%]\": matchingStock.json[\"Trend_7D [%]\"],\n        \"Trend 30D [%]\": matchingStock.json[\"Trend_30D [%]\"],\n        \"Trend 1Y [%]\": matchingStock.json[\"Trend_1Y [%]\"],\n        \"LLM description\": aiItem.json.description\n      }\n    });\n  }\n}\n\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1232
      ],
      "id": "fe92c273-82f3-43ea-9fb3-a27c163e82ac",
      "name": "Prepare data to save history"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHARES_GOOGLE_SHEET_LINK }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 753895271,
          "mode": "list",
          "cachedResultName": "history_workflow_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fy23XjxEfO7FlFX-hOE8gJJ9OHC3ZbZY2nVqYFh0TLU/edit#gid=753895271"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Date": "={{ $json.Date }}",
            "Symbol": "={{ $json.Symbol }}",
            "Shares price": "={{ $json[\"Shares price\"] }}",
            "Level of importance [0-10]": "={{ $json[\"Level of importance [0-10]\"] }}",
            "Trend 1D [%]": "={{ $json[\"Trend 1D [%]\"] }}",
            "Trend 7D [%]": "={{ $json[\"Trend 7D [%]\"] }}",
            "Trend 30D [%]": "={{ $json[\"Trend 30D [%]\"] }}",
            "Trend 1Y [%]": "={{ $json[\"Trend 1Y [%]\"] }}",
            "LLM description": "={{ $json[\"LLM description\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Symbol",
              "displayName": "Symbol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shares price",
              "displayName": "Shares price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Level of importance [0-10]",
              "displayName": "Level of importance [0-10]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trend 1D [%]",
              "displayName": "Trend 1D [%]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trend 7D [%]",
              "displayName": "Trend 7D [%]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trend 30D [%]",
              "displayName": "Trend 30D [%]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trend 1Y [%]",
              "displayName": "Trend 1Y [%]",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LLM description",
              "displayName": "LLM description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        1232
      ],
      "id": "2b26c4d5-32e6-4c7b-ae4d-2cd817376160",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "QGnEXa0ciTV81L8y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "65af9964-36a6-4e9f-8931-73b16038c5e9",
              "leftValue": "={{ $json[\"Level of importance [0-10]\"] }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        1232
      ],
      "id": "97974d43-68c1-4c52-aaf2-e06d3050619c",
      "name": "Is importance"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.SHARES_ALERT_EMAIL_TO }}",
        "subject": "=PILNE: Gwałtowny ruch na {{ $json.Symbol }} (Ważność: {{ $json[\"Level of importance [0-10]\"] }})",
        "html": "=<h3>Wykryto istotną zmianę dla spółki {{ $json.Symbol }}</h3> <p><b>Aktualna cena:</b> {{ $json[\"Shares price\"] }}</p> <p><b>Zmiana 1D:</b> {{ $json[\"Trend 1D [%]\"] }}%</p> <p><b>Analiza AI:</b> {{ $json[\"LLM description\"] }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2464,
        1072
      ],
      "id": "4d98eb34-558b-419d-8313-517e08c854b1",
      "name": "Send importance email",
      "webhookId": "fd9c53ad-7548-4e65-912e-b8a9562af10c",
      "credentials": {
        "smtp": {
          "id": "24yqgL5wqdQHCmey",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2256,
        1488
      ],
      "id": "656136f0-a108-4729-a7ec-ccba6e886722",
      "name": "Wait for all"
    },
    {
      "parameters": {
        "jsCode": "// Tworzymy prostą tabelę HTML z wynikami\nlet html = '<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">';\nhtml += '<tr style=\"background-color: #f2f2f2;\"><th>Symbol</th><th>Ważność</th><th>Analiza</th></tr>';\n\nfor (const item of $input.all()[0].json.data) { // 'data' to nazwa pola z węzła Aggregate\n  html += `<tr>\n    <td style=\"padding: 8px;\">${item.Symbol}</td>\n    <td style=\"padding: 8px;\">${item[\"Level of importance [0-10]\"]}</td>\n    <td style=\"padding: 8px;\">${item[\"LLM description\"]}</td>\n  </tr>`;\n}\nhtml += '</table>';\n\nreturn { html_report: html };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        1488
      ],
      "id": "fd7dc164-ff36-45cf-9bcf-00e2636b2a1c",
      "name": "Format report"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.SHARES_ALERT_EMAIL_TO }}",
        "subject": "=📊 Raport zbiorczy z analizy rynku - {{ $now.format('yyyy-MM-dd') }}",
        "html": "={{ $json.html_report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2688,
        1488
      ],
      "id": "1383f8e9-d522-473b-84bc-10655d6f4fcb",
      "name": "Send Daily Report",
      "webhookId": "a3ecbe7d-d853-426b-8922-037aa178de56",
      "credentials": {
        "smtp": {
          "id": "24yqgL5wqdQHCmey",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { DateTime } = require('luxon');\nconst prompt = $json.data;\n\nconst result = prompt\n  .replace('<current_date>', DateTime.now().toFormat('yyyy-MM-dd'))\n  .replace('<market_data>', JSON.stringify($(\"Switch\").item.json, null, 2)\n);\n\nreturn { json: { prompt: result } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1104
      ],
      "id": "815e3e2f-60b2-4a39-bc61-e8d179d26b95",
      "name": "Additional data replacer"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Jarkendar/prompt-vault/refs/heads/main/prompts/finance/stock-news-analyst-long.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        1104
      ],
      "id": "7dbdc3e5-5b6e-4218-aa45-69c6c9fe04b1",
      "name": "Get long prompt"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Jarkendar/prompt-vault/refs/heads/main/prompts/finance/stock-news-analyst-long-user-template.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        1104
      ],
      "id": "dd171c23-5583-4152-b883-6bbef4d0a16e",
      "name": "Get long prompt user template"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Jarkendar/prompt-vault/refs/heads/main/prompts/finance/stock-news-analyst-brief.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        1360
      ],
      "id": "2f6f0137-a45e-4a1e-971e-2c235b3cc8ee",
      "name": "Get prompt"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Jarkendar/prompt-vault/refs/heads/main/prompts/finance/stock-news-analyst-brief-user-template.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        1360
      ],
      "id": "d272cde6-947b-4c06-9c94-b4618918c9cb",
      "name": "Get prompt user template"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { DateTime } = require('luxon');\nconst prompt = $json.data;\n\nconst result = prompt\n  .replace('<current_date>', DateTime.now().toFormat('yyyy-MM-dd'))\n  .replace('<market_data>', JSON.stringify($(\"Switch\").item.json, null, 2)\n);\n\nreturn { json: { prompt: result } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1360
      ],
      "id": "0a5c55ed-06ca-48bc-b7ac-58536b5c0a4e",
      "name": "Additional data replacer brief"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get shares from wallet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get shares from wallet": {
      "main": [
        [
          {
            "node": "Query to Yahoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query to Yahoo": {
      "main": [
        [
          {
            "node": "Count data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get long prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company info": {
      "main": [
        [
          {
            "node": "Parse respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search info about fast change": {
      "main": [
        [
          {
            "node": "Parse respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse respond": {
      "main": [
        [
          {
            "node": "Prepare data to save history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data to save history": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait for all",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is importance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is importance": {
      "main": [
        [
          {
            "node": "Send importance email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for all": {
      "main": [
        [
          {
            "node": "Format report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format report": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional data replacer": {
      "main": [
        [
          {
            "node": "Search info about fast change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get long prompt": {
      "main": [
        [
          {
            "node": "Get long prompt user template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get long prompt user template": {
      "main": [
        [
          {
            "node": "Additional data replacer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Get prompt user template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt user template": {
      "main": [
        [
          {
            "node": "Additional data replacer brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional data replacer brief": {
      "main": [
        [
          {
            "node": "Company info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "33c1199b-764c-4e01-a518-0e14e36618c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97481b629537fec29dc17e37e9860b073024f9e9a612443256860c22d1358b72"
  },
  "id": "03PhemAq5e6HvUET",
  "tags": [
    {
      "updatedAt": "2026-03-12T07:14:31.979Z",
      "createdAt": "2026-03-12T07:14:31.979Z",
      "id": "6qpYNbnfre2KUYZt",
      "name": "Shares"
    },
    {
      "updatedAt": "2026-03-12T07:14:31.968Z",
      "createdAt": "2026-03-12T07:14:31.968Z",
      "id": "LMI2wwmKQQRYls3c",
      "name": "mail"
    },
    {
      "updatedAt": "2026-03-12T07:14:31.974Z",
      "createdAt": "2026-03-12T07:14:31.974Z",
      "id": "OqaaPle0q9sJnyCh",
      "name": "AI"
    }
  ]
}