workflows/remote_ideas_extender.json
{
  "name": "remote_ideas_extender",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "af806251-75fa-44b5-a93c-3c02275301eb",
      "name": "Telegram Trigger",
      "webhookId": "eb16360f-76bb-49e6-8b46-e2e516f5f913",
      "credentials": {
        "telegramApi": {
          "id": "yvzodv0lptCh0oGC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f895225f-0532-4d3e-8fcc-7ebae72339c6",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 8332257208,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "1c720bf7-aaf2-4354-93e1-c0271c803029",
      "name": "Is message from good bot"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        160
      ],
      "id": "4aa2aea2-bffd-4697-8228-11d7d4222491",
      "name": "Download voice file",
      "webhookId": "d4ed85b0-0141-4f6a-a718-db4561e2a4c2",
      "credentials": {
        "telegramApi": {
          "id": "yvzodv0lptCh0oGC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3023006c-0ff3-46ef-bcc9-71d49317c883",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -32
      ],
      "id": "d4e7aaa2-e8a7-44eb-a4db-11e71a0415f7",
      "name": "Get only text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90d97cbe-ab25-4d6a-8baa-02f0c9677271",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        160
      ],
      "id": "0e9b482d-e005-4daf-b773-161de91daff3",
      "name": "Get parsed text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE: Senior Project Engineer & Productivity Strategist.\n\nOBJECTIVE: Analyze incoming thoughts and convert them into a structured JSON Action Plan. You are a strict data processor, NOT a conversational chatbot.\n\nCLASSIFICATION LOGIC:\n- status = \"accepted\": Use this ONLY if the input contains a concrete project idea, a specific task, or a technical problem with enough context to create actionable steps.\n- status = \"rejected\": Use this if the input is a shopping list, a single word, incoherent gibberish, OR an incomplete/cut-off sentence (e.g., \"Mam pomysł na...\", \"Muszę dzisiaj...\").\n\nJSON STRUCTURE GUIDELINES (Strict adherence required):\n- goal: Define the technical essence of the request in one short sentence. (If rejected, put \"Brak celu\").\n- action_plan: Provide an array of 3-5 strings. Each must follow the format: \"Task description (~X min/h)\". (If rejected, provide an array with one string: [\"Brak zadań\"]).\n- total_estimated_time: Sum of all tasks (e.g., \"~1h 45min\"). (If rejected, put \"0 min\").\n- engineer_comment: A high-level technical insight. IF REJECTED due to incomplete input, use this field to professionally state that the thought was cut off and you need the rest of the sentence.\n\nOUTPUT RULES:\n- CRITICAL: You MUST provide the output EXACTLY as a raw JSON object compatible with the attached Structured Output Parser.\n- NEVER respond with conversational text, greetings, or follow-up questions outside the JSON structure.\n- If the input is incomplete, DO NOT ask the user to complete it in plain text. Just return the JSON with status \"rejected\".\n- Always output the values in Polish (except for the JSON keys)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1568,
        -32
      ],
      "id": "f2c265d4-fe06-4e0c-959a-bf050947288c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1568,
        176
      ],
      "id": "3132b37d-1f4d-413f-a252-6258b9bee66c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i2N3rPShmZjeQ3Wb",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"accepted\", \"rejected\"],\n      \"description\": \"Classification status: 'accepted' for projects and actionable tasks, 'rejected' for shopping lists, gibberish, or overly short notes.\"\n    },\n    \"goal\": {\n      \"type\": \"string\",\n      \"description\": \"A concise, technical summary of the main objective.\"\n    },\n    \"action_plan\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"A list of specific steps to be taken, each including a time estimate, e.g., 'Configure Docker Compose (~20 min)'.\"\n    },\n    \"total_estimated_time\": {\n      \"type\": \"string\",\n      \"description\": \"A realistic total sum of time required for the entire plan (e.g., '~2h 15min').\"\n    },\n    \"engineer_comment\": {\n      \"type\": \"string\",\n      \"description\": \"A short, professional engineering insight or a motivational tip.\"\n    }\n  },\n  \"required\": [\"status\", \"goal\", \"action_plan\", \"total_estimated_time\", \"engineer_comment\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1712,
        176
      ],
      "id": "af596492-7cbd-49ce-a299-2d1409df8935",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❌ <b>PROJEKT ODRZUCONY</b>\n\nZgłoszenie nie spełnia kryteriów Action Planu.\n\n👨‍💻 <b>Raport Inżyniera:</b> <i>{{ $json.output.engineer_comment }}</i>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        144
      ],
      "id": "120f7cd2-64b8-4e9a-94c6-d7b40b9f5ed7",
      "name": "Send rejected reason",
      "webhookId": "d03bcf80-1831-4047-9021-b0d541139baa",
      "credentials": {
        "telegramApi": {
          "id": "yvzodv0lptCh0oGC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.TELEGRAM_IDEAS_EMAIL_TO }}",
        "subject": "=🚀 Action Plan: {{ $json.goal }}",
        "html": "=<div style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; padding: 20px; border-radius: 8px;\">\n  \n  <h2 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;\">\n    🎯 Cel: {{ $json.goal }}\n  </h2>\n\n  <h3 style=\"color: #2980b9; margin-top: 20px;\">🛠 Action Plan:</h3>\n  <ul style=\"line-height: 1.6; font-size: 16px;\">\n    {{ $json.action_plan.map(item => '<li style=\"margin-bottom: 8px;\">' + item + '</li>').join('') }}\n  </ul>\n\n  <div style=\"background-color: #f8f9fa; padding: 15px; border-radius: 6px; margin-top: 25px;\">\n    <p style=\"margin: 0; font-size: 16px;\">\n      ⏳ <strong>Szacowany łączny czas:</strong> <span style=\"color: #d35400; font-weight: bold;\">{{ $json.total_estimated_time }}</span>\n    </p>\n  </div>\n\n  <div style=\"margin-top: 25px; padding-top: 15px; border-top: 1px dashed #ccc;\">\n    <p style=\"margin: 0; font-size: 14px; color: #7f8c8d;\">\n      👨‍💻 <strong>Komentarz Inżyniera:</strong><br>\n      <em>{{ $json.engineer_comment }}</em>\n    </p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2192,
        -304
      ],
      "id": "a3c6d3d9-ff14-4780-a8e3-7e2c5604ff40",
      "name": "Send idea",
      "webhookId": "1dcef23f-fc45-4081-a94b-0b015ab5e52d",
      "credentials": {
        "smtp": {
          "id": "e2B7B8MpOj8P6lyN",
          "name": "N8N bot Gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67b387bc-2cc4-44d5-a4ed-0c9aa6cf666d",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -32
      ],
      "id": "71781e72-02b3-43d0-ba3f-7c19a8c441fa",
      "name": "is plan"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "502d4560-a0cc-4eb5-a6ba-7b9465bed71f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is text message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "82e37cdd-3812-4ced-891e-16eb760c8190",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Is audio message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        -16
      ],
      "id": "5052d0d1-a9fb-4d16-8a7c-97eb1102da50",
      "name": "Input format switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://speaches:8000/v1/audio/transcriptions",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "Systran/faster-whisper-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        160
      ],
      "id": "b5353264-cac5-4f60-93ae-812d974c63b9",
      "name": "Parse audio file"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ <b>PROJEKT ZAAKCEPTOWANY</b>  Zbudowałem Action Plan dla Twojego zgłoszenia: 🎯 <i>{{ $('AI Agent').item.json.goal }}</i>  📧 Pełny, rozbity na kroki plan z estymacjami czasowymi czeka już w Twojej skrzynce mailowej.  👨‍💻 <b>Komentarz Inżyniera:</b> <i>{{ $('AI Agent').item.json.engineer_comment }}</i>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        -160
      ],
      "id": "2c2cb049-1520-4143-a1e6-ad12a987364f",
      "name": "Send a text message",
      "webhookId": "d826f49f-2a54-44cb-9546-2e9bb499919b",
      "credentials": {
        "telegramApi": {
          "id": "yvzodv0lptCh0oGC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is message from good bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message from good bot": {
      "main": [
        [
          {
            "node": "Input format switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice file": {
      "main": [
        [
          {
            "node": "Parse audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get only text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get parsed text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "is plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is plan": {
      "main": [
        [
          {
            "node": "Send idea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send rejected reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input format switch": {
      "main": [
        [
          {
            "node": "Get only text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download voice file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse audio file": {
      "main": [
        [
          {
            "node": "Get parsed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e0525407-4b02-44ec-a517-f68b473bfbee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97481b629537fec29dc17e37e9860b073024f9e9a612443256860c22d1358b72"
  },
  "id": "D7ZvpWnI4Ighifzx",
  "tags": [
    {
      "updatedAt": "2026-03-17T11:27:05.734Z",
      "createdAt": "2026-03-17T11:27:05.734Z",
      "id": "6TToDskJhXY1bNEZ",
      "name": "telegram"
    },
    {
      "updatedAt": "2026-03-10T13:28:28.779Z",
      "createdAt": "2026-03-10T13:28:28.779Z",
      "id": "Klwdshp6NtGybcZK",
      "name": "mail"
    },
    {
      "updatedAt": "2026-03-10T13:28:14.729Z",
      "createdAt": "2026-03-10T13:28:14.729Z",
      "id": "Q1I4mcXffkxC0as2",
      "name": "AI"
    },
    {
      "updatedAt": "2026-03-17T11:27:08.714Z",
      "createdAt": "2026-03-17T11:27:08.714Z",
      "id": "WhshlsoFC12B9bz5",
      "name": "whisper"
    }
  ]
}