workflows/weekly_trip_idea_generator.json
{
  "name": "weekly_trip_idea_generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -48
      ],
      "id": "6d4440fe-c7d8-45a4-b1ca-b6306b668d99",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.TRIP_IDEAS_EMAIL_TO }}",
        "subject": "=🗺️ Podróżnicze inspiracje (Baza: {{ $('Get City').item.json.city }}) | {{ $now.format('dd.MM.yyyy') }}",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; background-color: #f8f9fa; padding: 40px 20px;\">\n  <div style=\"max-width: 650px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.08);\">\n    \n    <div style=\"background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); color: #ffffff; padding: 30px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 26px; letter-spacing: 1px;\">🗺️ TRAVEL & CHILL INSPIRATIONS</h1>\n      <p style=\"margin: 5px 0 0; opacity: 0.85; font-size: 14px;\">Baza: {{ $('Get City').item.json.city }} | {{ $now.format('dd.MM.yyyy') }}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      \n      {{ $json.output.trips.map(trip => `\n      <div style=\"margin-bottom: 40px; border-left: 5px solid ${\n        trip.trip_type === 'date_city' ? '#e74c3c' : \n        trip.trip_type === 'short_outskirts' ? '#27ae60' : \n        trip.trip_type === 'weekend_pl' ? '#f39c12' : '#8e44ad'\n      }; padding-left: 20px;\">\n        \n        <div style=\"display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 11px; font-weight: bold; text-transform: uppercase; background-color: #f4f6f7; color: ${\n          trip.trip_type === 'date_city' ? '#e74c3c' : \n          trip.trip_type === 'short_outskirts' ? '#27ae60' : \n          trip.trip_type === 'weekend_pl' ? '#f39c12' : '#8e44ad'\n        }; margin-bottom: 10px;\">\n          ${\n            trip.trip_type === 'date_city' ? '🍷 Randka w Mieście' : \n            trip.trip_type === 'short_outskirts' ? '🚗 Wypad za miasto' : \n            trip.trip_type === 'weekend_pl' ? '🎒 Weekend w Polsce' : '✈️ Długie Wakacje'\n          }\n        </div>\n\n        <h2 style=\"margin: 0 0 10px 0; color: #2c3e50; font-size: 20px;\">${trip.title}</h2>\n        <p style=\"color: #546e7a; line-height: 1.6; margin: 0 0 15px 0; font-size: 15px;\">\n          ${trip.description}\n        </p>\n\n        <div style=\"background-color: #fdfefe; border-radius: 8px; padding: 15px; border: 1px dashed #bdc3c7;\">\n          <strong style=\"color: #34495e; font-size: 13px; display: block; margin-bottom: 5px;\">Szczegóły / Logistyka:</strong>\n          <span style=\"color: #455a64; font-size: 14px; font-weight: 500; line-height: 1.5; display: block;\">\n            ${trip.details}\n          </span>\n        </div>\n      </div>\n      `).join('') }}\n\n    </div>\n\n    <div style=\"background-color: #fafafa; padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n      <p style=\"margin: 0; font-size: 12px; color: #95a5a6;\">\n        Wygenerowane przez n8n Travel Agent\n      </p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        352,
        -48
      ],
      "id": "2f01c8bd-56dc-471b-9bed-0b0465496848",
      "name": "Send Ideas",
      "webhookId": "3e8ec810-4d27-4adc-bdcc-dba28771d68f",
      "credentials": {
        "smtp": {
          "id": "e2B7B8MpOj8P6lyN",
          "name": "N8N bot Gmail"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"trips\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"details\": { \"type\": \"string\" },\n          \"trip_type\": { \"type\": \"string\", \"enum\": [\"date_city\", \"short_outskirts\", \"weekend_pl\", \"long_vacation\"] }\n        },\n        \"required\": [\"title\", \"description\", \"details\", \"trip_type\"]\n      }\n    }\n  },\n  \"required\": [\"trips\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        160
      ],
      "id": "4e67f65b-2b0c-4ec3-9176-a1f4dbe0d25f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -64,
        160
      ],
      "id": "d9448e29-19cd-4e19-9750-6850b5a7262d",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i2N3rPShmZjeQ3Wb",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jesteś Ekspertem ds. Podróży, Planistą i Lokalnym Przewodnikiem z pasją do \"hidden gems\". Twoim zadaniem jest wygenerowanie 4 unikalnych propozycji spędzenia czasu.\n\nDzisiejsza data to: {{ $now.format('DD.MM.YYYY') }}. Bierz pod uwagę obecną porę roku i pogodę.\nTwoje miasto bazowe to: {{ $json.city }}\n\nKRYTERIA DOBORU MIEJSC (Bardzo ważne!):\n- Miejsca mają być estetyczne, ładne i klimatyczne.\n- Muszą być łatwo dostępne dla turystów/odwiedzających.\n- Omijaj \"pułapki turystyczne\" i najbardziej oklepane, sztampowe lokacje.\n- Szukaj miejsc z mniejszym natężeniem ruchu – cisza, kameralność i brak tłumów to ogromny atut.\n- Podawaj realne nazwy miejsc (kawiarni, rezerwatów, miasteczek, szlaków), aby można było je łatwo wyszukać w internecie.\n\nZADANIE:\nZaproponuj dokładnie 4 pomysły, dopasowując je ściśle do podanej perspektywy czasowej:\n\n1. Randka w mieście (trip_type: \"date_city\")\n[Horyzont czasowy: do 1 tygodnia w przód]. Wyjście na randkę w mieście bazowym ({{ $json.city }}). Skup się na klimacie miejsca i podaj jego nazwę.\n\n2. Wypad za miasto (trip_type: \"short_outskirts\")\n[Horyzont czasowy: do 2 tygodni w przód]. Wyjazd na kilka godzin w okolice miasta bazowego. Opisz czas podróży, miejsce docelowe i na co warto zwrócić uwagę.\n\n3. Wyjazd w Polskę (trip_type: \"weekend_pl\")\n[Horyzont czasowy: do 2 miesięcy w przód]. Wyjazd na weekend lub do tygodnia gdzieś w Polsce. Krótki opis wycieczki z nieoklepanymi miejscami, które trzeba na niej zobaczyć. Dopasuj klimat wyjazdu do pory roku, która będzie za te 1-2 miesiące.\n\n4. Długie wakacje (trip_type: \"long_vacation\")\n[Horyzont czasowy: do 1 roku w przód]. Długi wyjazd urlopowy (Polska lub zagranica). Zaplanuj z odpowiednim wyprzedzeniem. Szerszy opis: dlaczego warto, atrakcje, sposób dostania się na miejsce, orientacyjny koszt, przybliżony plan i sposób zwiedzania.\n\nWYTYCZNE DLA PÓL JSON:\n- title: Chwytliwa nazwa wyjazdu (np. \"Kameralny weekend w...\", \"Zimowa ucieczka od tłumów do...\").\n- description: Główny opis, klimat miejsca i uzasadnienie dlaczego warto.\n- details: Konkrety zależne od kategorii (dla randki - klimat lokalu, dla dłuższego wyjazdu - koszty, dojazd, plan, kluczowe punkty).\n- trip_type: Dokładnie jeden z: \"date_city\", \"short_outskirts\", \"weekend_pl\", \"long_vacation\".\n\nODPOWIEDZ WYŁĄCZNIE W FORMACIE JSON. Odpowiedź musi być pojedynczym obiektem posiadającym klucz \"trips\", w którym znajdzie się tablica dokładnie 4 pomysłów.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -48
      ],
      "id": "0fcdaf8e-eff6-4dab-8aa8-eb698eb55fe8",
      "name": "Trip Idea Generator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4312c489-1bee-49ac-9af6-b3ab2f7e591b",
              "name": "city",
              "value": "={{ $env.START_CITY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -48
      ],
      "id": "b84fc883-5975-4cdd-8964-e41ef6dcb14f",
      "name": "Get City"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trip Idea Generator": {
      "main": [
        [
          {
            "node": "Send Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City": {
      "main": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "623c4d58-39cc-45e7-acad-59bfbad5fdac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97481b629537fec29dc17e37e9860b073024f9e9a612443256860c22d1358b72"
  },
  "id": "VDaRLjcZV2iE7Gd6",
  "tags": [
    {
      "updatedAt": "2026-03-10T13:28:28.779Z",
      "createdAt": "2026-03-10T13:28:28.779Z",
      "id": "Klwdshp6NtGybcZK",
      "name": "mail"
    },
    {
      "updatedAt": "2026-03-13T07:11:33.324Z",
      "createdAt": "2026-03-13T07:11:33.324Z",
      "id": "Lf332skRzhusw67i",
      "name": "ideas"
    },
    {
      "updatedAt": "2026-03-10T13:28:14.729Z",
      "createdAt": "2026-03-10T13:28:14.729Z",
      "id": "Q1I4mcXffkxC0as2",
      "name": "AI"
    },
    {
      "updatedAt": "2026-03-13T07:12:20.145Z",
      "createdAt": "2026-03-13T07:12:20.145Z",
      "id": "dbSUVQAZlcThuvSy",
      "name": "trip"
    }
  ]
}