workflows/weekly_trip_idea_generator.json
{
  "name": "weekly_trip_idea_generator",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "={{ $env.N8N_AGENT_EMAIL_FROM }}",
        "toEmail": "={{ $env.TRIP_IDEAS_EMAIL_TO }}",
        "subject": "=🗺️ Podróżnicze inspiracje (Baza: {{ $('Get City and Date').item.json.city }}) | {{ $now.format('dd.MM.yyyy') }}",
        "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; background-color: #f8f9fa; padding: 40px 20px;\">\n  <div style=\"max-width: 650px; margin: 0 auto; background-color: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.08);\">\n    \n    <div style=\"background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); color: #ffffff; padding: 30px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 26px; letter-spacing: 1px;\">🗺️ TRAVEL & CHILL INSPIRATIONS</h1>\n      <p style=\"margin: 5px 0 0; opacity: 0.85; font-size: 14px;\">Baza: {{ $('Get City and Date').item.json.city }} | {{ $now.format('dd.MM.yyyy') }}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      \n      {{ $json.output.trips.map(trip => `\n      <div style=\"margin-bottom: 40px; border-left: 5px solid ${\n        trip.trip_type === 'date_city' ? '#e74c3c' : \n        trip.trip_type === 'short_outskirts' ? '#27ae60' : \n        trip.trip_type === 'weekend_pl' ? '#f39c12' : '#8e44ad'\n      }; padding-left: 20px;\">\n        \n        <div style=\"display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 11px; font-weight: bold; text-transform: uppercase; background-color: #f4f6f7; color: ${\n          trip.trip_type === 'date_city' ? '#e74c3c' : \n          trip.trip_type === 'short_outskirts' ? '#27ae60' : \n          trip.trip_type === 'weekend_pl' ? '#f39c12' : '#8e44ad'\n        }; margin-bottom: 10px;\">\n          ${\n            trip.trip_type === 'date_city' ? '🍷 Randka w Mieście' : \n            trip.trip_type === 'short_outskirts' ? '🚗 Wypad za miasto' : \n            trip.trip_type === 'weekend_pl' ? '🎒 Weekend w Polsce' : '✈️ Długie Wakacje'\n          }\n        </div>\n\n        <h2 style=\"margin: 0 0 10px 0; color: #2c3e50; font-size: 20px;\">${trip.title}</h2>\n        <p style=\"color: #546e7a; line-height: 1.6; margin: 0 0 15px 0; font-size: 15px;\">\n          ${trip.description}\n        </p>\n\n        <div style=\"background-color: #fdfefe; border-radius: 8px; padding: 15px; border: 1px dashed #bdc3c7;\">\n          <strong style=\"color: #34495e; font-size: 13px; display: block; margin-bottom: 5px;\">Szczegóły / Logistyka:</strong>\n          <span style=\"color: #455a64; font-size: 14px; font-weight: 500; line-height: 1.5; display: block;\">\n            ${trip.details}\n          </span>\n        </div>\n      </div>\n      `).join('') }}\n\n    </div>\n\n    <div style=\"background-color: #fafafa; padding: 20px; text-align: center; border-top: 1px solid #eeeeee;\">\n      <p style=\"margin: 0; font-size: 12px; color: #95a5a6;\">\n        Wygenerowane przez n8n Travel Agent\n      </p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "efad43a0-22f0-4726-956e-6857ad825396",
      "name": "Send Ideas",
      "webhookId": "3e8ec810-4d27-4adc-bdcc-dba28771d68f",
      "credentials": {
        "smtp": {
          "id": "24yqgL5wqdQHCmey",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"trips\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"details\": { \"type\": \"string\" },\n          \"trip_type\": { \"type\": \"string\", \"enum\": [\"date_city\", \"short_outskirts\", \"weekend_pl\", \"long_vacation\"] }\n        },\n        \"required\": [\"title\", \"description\", \"details\", \"trip_type\"]\n      }\n    }\n  },\n  \"required\": [\"trips\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "02e9ae44-d6e7-4ec8-8902-555efa621ab4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "ffcf41af-5a41-46b9-b654-5d94f88862bb",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "qHSgWhy7lmBnmFr3",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "2b237d43-84bb-4ffe-b565-4dac0b41cbbe",
      "name": "Trip Idea Generator"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        0
      ],
      "id": "0138139b-0dcc-4adf-983b-352652de5acf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4312c489-1bee-49ac-9af6-b3ab2f7e591b",
              "name": "city",
              "value": "={{ $env.START_CITY }}",
              "type": "string"
            },
            {
              "id": "4ce9c23d-9e66-4553-8394-275f7a204474",
              "name": "date",
              "value": "={{ $now.format('dd.MM.yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        0
      ],
      "id": "f3f28e7d-abe0-4826-b021-e730e87a7524",
      "name": "Get City and Date"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Jarkendar/prompt-vault/refs/heads/main/prompts/travel/trip_ideas.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        0
      ],
      "id": "cd5dc22a-189a-4cdb-9380-9227028614c2",
      "name": "Get Prompt"
    },
    {
      "parameters": {
        "jsCode": "const node = $('Get City and Date').first().json;\nconst prompt = $input.first().json.data;\n\nconst result = prompt\n  .replace('<current_date>', node.date)\n  .replace(/<city>/g, node.city);\n\nreturn [{ json: { prompt: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2f60c821-12a4-4c87-a826-ef76634aef8e",
      "name": "Additional Data Replacer"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trip Idea Generator": {
      "main": [
        [
          {
            "node": "Send Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get City and Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City and Date": {
      "main": [
        [
          {
            "node": "Get Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt": {
      "main": [
        [
          {
            "node": "Additional Data Replacer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Data Replacer": {
      "main": [
        [
          {
            "node": "Trip Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "df01c9df-5874-4cd7-a0e2-be0c2d1f1303",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97481b629537fec29dc17e37e9860b073024f9e9a612443256860c22d1358b72"
  },
  "id": "w50QXXsa95dosDQH",
  "tags": [
    {
      "updatedAt": "2026-03-13T08:08:25.838Z",
      "createdAt": "2026-03-13T08:08:25.838Z",
      "id": "JSFP9ssqnJdV0Xlm",
      "name": "ideas"
    },
    {
      "updatedAt": "2026-03-12T07:14:31.968Z",
      "createdAt": "2026-03-12T07:14:31.968Z",
      "id": "LMI2wwmKQQRYls3c",
      "name": "mail"
    },
    {
      "updatedAt": "2026-03-12T07:14:31.974Z",
      "createdAt": "2026-03-12T07:14:31.974Z",
      "id": "OqaaPle0q9sJnyCh",
      "name": "AI"
    },
    {
      "updatedAt": "2026-03-13T08:08:49.978Z",
      "createdAt": "2026-03-13T08:08:49.978Z",
      "id": "hz8nhCdCWOqHfX6C",
      "name": "trip"
    }
  ]
}